#section1 {
    background-image: url("../img/Hero-banner.jpg");
    text-align: center;
    color: #ffffff;

    h1 {
    	display: inline-block;
    	margin-bottom: 0px;
    	font-weight: 200;
    }

	.section1-animation--6 {
		font-style: italic;
		font-weight: 700 !important;
	}
}