#section2 {
	background-image: url("../img/Footer.jpg");
	text-align: center;

	p {
		color: $color-white;
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;

		span {
			font-weight: 600;
			font-style: italic;
		}
	}
}