#section8.section--footer.section(data-anchor="Footer")
	.o-wrapper
		ul.u-margin-bottom-large
			li
				a.u-inline-block(href='#') Home
			li
				a.u-inline-block(href='#') About
			li
				a.u-inline-block(href='#') Projects
			li
				a.u-inline-block(href='#') Blog
			li
				a.u-inline-block(href='#') Contact

		a.email-details(href="mailto:info@arkoarch.com" target="_blank") info@arkoarch.com
		hr.section8-animation--1
		.o-layout.u-margin-bottom-large
			.o-layout__item.u-text-align--right(class="u-1/2")
				p.u-margin-bottom-none 12 Notastreet
				p.u-margin-bottom-none SE1 5SS
			.o-layout__item.u-text-align--left(class="u-1/2")
				p.u-margin-bottom-none Bermondsey
				p.u-margin-bottom-none London
		p.copywrite Copywrite of ARKO Architecture

//- Javascript
script(src="vendor/angular.min.js")
script(src="vendor/jquery.js")
script(src="vendor/jquery.fullPage.js")
script(src="vendor/angular-fullpage.min.js")
script(src="js/app.js")