#section8.section.c-footer
	.o-wrapper
		ul.u-margin-bottom-large
			li
				a.u-inline-block(href='#') Home
			li
				a.u-inline-block(href='#') About
			li
				a.u-inline-block(href='#') Projects
			li
				a.u-inline-block(href='#') Blog
			li
				a.u-inline-block(href='#') Contact

		h4 info@arkoarch.com
		hr
		.o-layout.u-margin-bottom-large
			.o-layout__item.u-text-align--right(class="u-1/2")
				p.u-margin-bottom-none 12 Notastreet
				p.u-margin-bottom-none SE1 5SS
			.o-layout__item.u-text-align--left(class="u-1/2")
				p.u-margin-bottom-none Bermondsey
				p.u-margin-bottom-none London
		p.c-footer-copywrite Copywrite of ARKO Architecture



//- Javascript
script(src="../bower_components/angular/angular.js")
script(src="../bower_components/angular-animate/angular-animate.min.js")
script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="../bower_components/fullpage.js/jquery.fullPage.min.js")
script(src="../bower_components/angular-fullpage.js/angular-fullpage.min.js")
script(src="../js/app.js")