//- Javascript
script(src="../bower_components/angular/angular.js")
script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="../bower_components/fullpage.js/jquery.fullPage.min.js")
script(src="../bower_components/angular-fullpage.js/angular-fullpage.min.js")
script(src="../js/app.js")