html(data-ng-app="app")
	head
		include /_includes/_header
	body(data-ng-controller="appcontroller")
		include /_includes/_navigation

		div(full-page options="mainOptions")
			#section1.section--hero-banner.section(data-anchor="Banner")
				.o-wrapper.u-margin-bottom
					svg.hero-banner-svg.u-margin-bottom-small#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 543 165', style='enable-background:new 0 0 543 165;', xml:space='preserve')
						style(type='text/css').
							.st0{fill:#2E2D2C;}
							.st1{fill:#FFFFFF;}
						polygon.st1.section1-animation--1(points='14.6,146.6 80.6,17.6 146.6,146.6 ')
						path.st1.section1-animation--2(d='M259.5,58.9c0-22.7-17.6-41.3-39.9-42.9v-0.1h-54.6v131.2h54.6h39.7l-25.1-49C249.2,91.3,259.5,76.3,259.5,58.9\
						z')
						polygon.st1.section1-animation--3(points='386,15.9 284.7,15.9 284.7,147.1 386,147.1 351,81.1 ')
						circle.st1.section1-animation--4(cx='459.4', cy='81.5', r='65.6')
					br
					h1.section1-animation--5 We&nbsp;
					h1.section1-animation--6 create&nbsp;
					br
					h1.section1-animation--7 environments.

			#section2.section--about.section(data-anchor="About")
				.o-wrapper.o-wrapper--large.o-wrapper--size-small
					p.section2-animation--1
						span ARKO 
						| was founded in 1996.
					p.section2-animation--2 Over the last 20 years, we have developed a large portfolio of 
						span beautiful 
						| and 
						span exciting projects. 
						| Our projects range from hotels to hospitals, and from housing schemes to offices.
					p.section2-animation--3 We have always taken an 
						span eco friendly 
						| stance on architecture and we always look into taking advantage of 
						span new cutting edge technologies 
						| that are available.

			#section3.section--project-overview.section(data-anchor="Projects")
				h2 Projects
				.o-layout.o-layout--flush
					.o-layout__item(class="u-1/2 u-1/4@tablet")
						a.project-overview--box(href="#Rotterdam" style="background-image: url('img/Rotterdam.jpg');")
							.project-overview--content
								h4 Schiedam Centre,
									br
									span Rotterdam
								.ion.ion-ios-arrow-down
					.o-layout__item(class="u-1/2 u-1/4@tablet")
						a.project-overview--box(href="#Madrid" style="background-image: url('img/Madrid.jpg');")
							.project-overview--content
								h4 Construcción de río,
									br
									span Madrid
								.ion.ion-ios-arrow-down
					.o-layout__item(class="u-1/2 u-1/4@tablet")
						a.project-overview--box(href="#London" style="background-image: url('img/London.jpg');")
							.project-overview--content
								h4 The AVO Centre,
									br
									span London
								.ion.ion-ios-arrow-down
					.o-layout__item(class="u-1/2 u-1/4@tablet")
						a.project-overview--box(href="#Sofia" style="background-image: url('img/Sofia.jpg');")
							.project-overview--content
								h4 Kutiya,
									br
									span Sofia
								.ion.ion-ios-arrow-down


			#section4.section--rotterdam.section(data-anchor="Rotterdam")
				.project-content-box.project-content-box--left.section4-animation--1
					h5.section4-animation--2 Schiedam Centre,
						br
						span Rotterdam
					hr.section4-animation--3
					p.section4-animation--4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut scelerisque felis. Vivamus ornare dolor ut erat ultricies, sed ornare diam sodales. Proin eget elit semper, porttitor est ut, molestie quam. Maecenas laoreet sapien consequat interdum dignissim.

					p.section4-animation--5 In at dolor massa. Nunc aliquam leo id neque ornare mattis. Curabitur ac risus lacus. Nullam sodales pulvinar bibendum. Donec et auctor dolor. Aliquam eu ante nibh. Sed at lobortis sem. Sed et quam id massa sollicitudin condimentum at ac massa.

					p.section4-animation--6 Fusce viverra urna sit amet nisi vulputate euismod. Aliquam elit nulla, porttitor eget pharetra eget, egestas quis lacus.

			#section5.section--madrid.section(data-anchor="Madrid")
				.project-content-box.project-content-box--right.section5-animation--1
					h5.section5-animation--2 Construcción de río,
						br
						span Madrid
					hr.section5-animation--3
					p.section5-animation--4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut scelerisque felis.

					p.section5-animation--5 Vivamus ornare dolor ut erat ultricies, sed ornare diam sodales. Proin eget elit semper, porttitor est ut, molestie quam. Maecenas laoreet sapien consequat interdum dignissim. In at dolor massa. Nunc aliquam leo id neque ornare mattis.

					p.section5-animation--6 Curabitur ac risus lacus. Nullam sodales pulvinar bibendum. Donec et auctor dolor. Aliquam eu ante nibh. Sed at lobortis sem.

			#section6.section--london.section(data-anchor="London")
				.project-content-box.project-content-box--left.section6-animation--1
					h5.section6-animation--2 The AVO Centre,
						br
						span London
					hr.section6-animation--3
					p.section6-animation--4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut scelerisque felis. Vivamus ornare dolor ut erat ultricies, sed ornare diam sodales. Proin eget elit semper, porttitor est ut, molestie quam. Maecenas laoreet sapien consequat interdum dignissim.

			#section7.section--sofia.section(data-anchor="Sofia")
				.project-content-box.project-content-box--right.section7-animation--1
					h5.section7-animation--2 Kutiya,
						br
						span Sofia
					hr.section7-animation--3
					p.section7-animation--4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut scelerisque felis. Vivamus ornare dolor ut erat ultricies, sed ornare diam sodales.

					p.section7-animation--5 Proin eget elit semper, porttitor est ut, molestie quam. Maecenas laoreet sapien consequat interdum dignissim. In at dolor massa. Nunc aliquam leo id neque ornare mattis. Curabitur ac risus lacus.

					p.section7-animation--6 Nullam sodales pulvinar bibendum.

			include /_includes/_footer