.u-font-size--200 {
	font-size: 200%;
}

.u-font-size--300 {
	font-size: 300%;
}

.u-font-size--350 {
	font-size: 350%;
}

.u-font-size--400 {
	font-size: 400%;
}

.u-font-style--italic {
	font-style: italic;
}

.u-inline-block {
	display: inline-block;
}

.project-content-box {
	position: absolute;
	width: 360px;
	background-color: rgba(0,0,0,0.3);
	color: $color-white;
	padding: 24px;

	hr {
		border: none;
		border-top: 1px solid $color-white;
		width: 50px;
		margin-bottom: 12px;
	}

	h5 {
		font-style: italic;
		font-weight: 500;
		margin-bottom: 12px;
	}

	//- When on tablet center these

	&--left {
		left: 25;
		top: 50%;
		transform: translate(0, -50%);
	}

	&--right {
		right: 25;
		top: 50%;
		transform: translate(0, -50%);
	}

	&--center {
		width:600px;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&--center-bottom {
		// width: 600px;
		// left: 50%;
		// transform: translate(-50%, 0%);
		margin-bottom: 25px;
	}
}