.u-font-size--200 {
	font-size: 200%;
}

.u-font-size--300 {
	font-size: 300%;
}

.u-font-size--350 {
	font-size: 350%;
}

.u-font-size--400 {
	font-size: 400%;
}

.u-font-style--italic {
	font-style: italic;
}

.u-inline-block {
	display: inline-block;
}

.project-content-box {
	position: absolute;
	width: 300px;
	background-color: rgba(0,0,0,0.3);
	color: $color-white;
	padding: 24px;
	top: 50%;
	transform: translate(0, -50%);

	&--left {
		left: 0;
	}

	&--right {
		right: 0;
	}
}