.u-font-size--200 {
	font-size: 200%;
}

.u-font-size--300 {
	font-size: 300%;
}

.u-font-size--350 {
	font-size: 350%;
}

.u-font-size--400 {
	font-size: 400%;
}

.u-font-style--italic {
	font-style: italic;
}

.u-inline-block {
	display: inline-block;
}