.section {
	background-size: cover;
	background-position: center;
}
#section1 {
	background-image: url("../img/Hero-banner.jpg");
}

#section2 {

}

#section3 {

}

#section4 {
	background-image: url("../img/Rotterdam.jpg");
}

#section5 {
	background-image: url("../img/Madrid.jpg");
}

#section6 {
	background-image: url("../img/London.jpg");
}

#section7 {
	background-image: url("../img/Sofia.jpg");
}