/* The animation code */
// @keyframes example {
//     0%   {transform: scale(1);}
//     50%  {transform: scale(1.1);}
//     100% {transform: scale(1);}
// }

/* The element to apply the animation to */
// div {

//     animation-name: example;
//     animation-duration: 4s;
// }

.section {
	background-size: cover;
	background-position: center;
	position: relative;
}
#section1 {
    background-image: url("../img/Hero-banner.jpg");
}

// .section1-bg-image {
// 	z-index: -1;
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
//     animation-name: example;
//     animation-duration: 8s;
//     animation-iteration-count: infinite;
//     background-image: url("../img/Hero-banner.jpg");
// }

#section2 {

}

#section3 {

}

#section4 {
	background-image: url("../img/Rotterdam.jpg");
	// .fp-tablecell {
	// 	vertical-align: bottom;
	// }
}

#section5 {
	background-image: url("../img/Madrid.jpg");
	// .fp-tablecell {
	// 	vertical-align: bottom;
	// }
}

#section6 {
	background-image: url("../img/London.jpg");
	// .fp-tablecell {
	// 	vertical-align: bottom;
	// }
}

#section7 {
	background-image: url("../img/Sofia.jpg");
	// .fp-tablecell {
	// 	vertical-align: bottom;
	// }
}