.section--footer {
	background-image: url("../img/Footer.jpg");
	color: $color-white;
	text-align: center;
	ul {
		list-style: none;
		margin: 0px;
		li {
			display: inline-block;

			a {
				color: $color-white;
				font-family: 'Montserrat', sans-serif;
				font-weight: 200;
				font-size: 18px;
				text-decoration: none;
				padding: 24px;
		        @include mq($until: tablet) {
		            font-size: 14px;
		            padding: 12px;
		        }
		        &:hover {
				    animation: pulse 0.8s infinite;
				    -webkit-animation: pulse 0.8s infinite;
				    -moz-animation: pulse 0.8s infinite;
				    -o-animation: pulse 0.8s infinite;
		        }
			}
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: $color-white;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
        &:hover {
		    animation: pulse 1s infinite;
		    -webkit-animation: pulse 1s infinite;
		    -moz-animation: pulse 1s infinite;
		    -o-animation: pulse 1s infinite;
        }

        @include mq($until: tablet) {
            font-size: 16px;
            padding: 12px;
        }
	}

	hr {
		border: none;
		border-top: 1px solid $color-white;
		width: 70px;
		margin: 24px auto 12px auto;
	}

	p {
		font-weight: 300;
        @include mq($until: tablet) {
            font-size: 13px;
        }
	}
}

.copywrite {
	font-size: 14px;
    @include mq($until: tablet) {
        font-size: 11px;
    }
}