.section--hero-banner {
    background-image: url("../img/Hero-banner.jpg");
    text-align: center;
    color: #ffffff;

    .hero-banner-svg {
        width: 100%;
        max-width: 400px;
    }

    h1 {
    	display: inline-block;
    	margin-bottom: 0px;
    	font-weight: 200;

        @include mq($until: tablet) {
            font-size: 30px;
            line-height: 42px;
        }
    }

	.section1-animation--6 {
		font-style: italic;
		font-weight: 700 !important;
	}
}