.section--rotterdam {
	background-image: url("../img/Rotterdam.jpg");
}

.section--madrid {
	background-image: url("../img/Madrid.jpg");
}

.section--london {
	background-image: url("../img/London.jpg");
}

.section--sofia {
	background-image: url("../img/Sofia.jpg");
}

.project-content-box {
	position: absolute;
	width: 380px;
	background-color: rgba(0,0,0,0.5);
	color: $color-white;
	padding: 24px;
	max-height: 100%;
	transform: translate(0, -50%);
	@include mq($until: tablet) {
		width: auto;
		top: auto !important;
		bottom: 25;
		transform: translate(0, 0);
	}


	hr {
		border: none;
		border-top: 1px solid $color-white;
		width: 50px;
		margin-bottom: 12px;
	}

	h5 {
		font-weight: 500;
		margin-bottom: 12px;
		span {
			font-style: italic;
			font-weight: 200;
		}
	}

	p {
		font-size: 14px;
		font-weight: 200;
		@include mq($until: tablet) {
			font-size: 12px;
			margin-bottom: 12px;
		}
	}

	&--left {
		left: 25px;
		top: 50%;
		@include mq($until: tablet) {
			right: 25px;
		}
	}

	&--right {
		right: 25px;
		top: 50%;
		@include mq($until: tablet) {
			left: 25px;
		}
	}
}